.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
    color: white;
}

.container-div {
    background-color: rgba(0, 0, 0, 0.493);
    width: 550px;
    height: 55vh;
}

h1 {
    font-weight: bold;
}

p {
    padding: 10px;
    font-size: 20px;
}