.container-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.container-services > div {
  flex: 1;
  padding: 10px;
}

.container-services-img {
  max-width: 330px;
}

h2 {
  margin: 0;
}

p {
  margin: 10px 0;
}

@media(max-width: 768px){
  .container-services{
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  p {
    
  }
  img {
    width: 150px;
  }
  h2 {
    font-size: 17px;
  }
}