.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.658);
}

.form-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-email {
    padding: 10px;
    margin: 5px;
}

.input-password {
    margin: 5px;
} 

.btn {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.erro {
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: gray;
}